[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "easy_handeye"]
	path = easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye.git
[submodule "fmauch_universal_robot"]
	path = fmauch_universal_robot
	url = https://github.com/fmauch/universal_robot.git
	branch = calibration_devel
[submodule "aruco_ros"]
	path = aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git
